<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </Console>
        <File name="ErrorLog" fileName="logs/error.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>
        <File name="DebugLog" fileName="logs/debug.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>
        <File name="InfoLog" fileName="logs/info.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="ErrorLog" level="error"/>
            <AppenderRef ref="DebugLog" level="debug"/>
            <AppenderRef ref="InfoLog" level="info"/>
        </Root>
    </Loggers>
</Configuration>